<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.sinc.project.toiletUseInfo">
	<select id="totalToiletUseInfoList" resultType="toiletuseinfo" flushCache="true" useCache="true">
		SELECT
			SENSORCODE, GENDER, FLOOR, POSITION, USEYN
		FROM
			TOILETUSEINFO
	</select>

	<select id="toiletUseInfoList" resultType="toiletuseinfo" flushCache="true" useCache="true">
		SELECT
			SENSORCODE, GENDER, FLOOR, POSITION, USEYN
		FROM
			TOILETUSEINFO
		WHERE
			FLOOR = #{floor}
			AND GENDER = #{gender}
	</select>
	
	<update id="updateToiletUseInfo" parameterType="toiletuseinfo">
		UPDATE
			TOILETUSEINFO
		SET 
			USEYN = #{useyn}
		WHERE
			SENSORCODE = #{sensorcode}
	</update>

</mapper>

